/* --- Working with style sheets --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding:  10px 10px 10px 60px;
}

nav {
  display: flex;
  background-color: #0a1698;
  padding: 20px 0px 20px 60px;
  color: #f0e9be;
}

section {
  padding: 20px 0px 20px 60px;
}

article {
  padding: 10px 0px 10px 0px;
}

footer {
  background-color: #fce138;
  width: 100%;
  padding: 20px 0px 20px 60px;
}

/* -- working with media queries --*/
/*@media screen and (max-width: 980px){
  section {
    background-color: pink;
  }
}

@media screen and (max-width: 768px){
  section {
    background-color: white;
    font-size: 120%;
  }
}

@media screen and (max-width: 575px){
  section {
    background-color: lightblue;
    font-size: 120%;
    padding: 20px 25px 20px 25px;
  }
}
*/