/* --- Working with style sheets --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding:  10px 10px 10px 60px;
}

nav {
  display: flex;
  background-color: #0a1698;
  padding: 20px 0px 20px 60px;
  color: #f0e9be;
}

section {
  padding: 20px 0px 20px 60px;
}

article {
  padding: 10px 0px 10px 0px;
}

footer {
  background-color: #fce138;
  width: 100%;
  padding: 20px 0px 20px 60px;
}

  